@media screen and (max-width: 600px) {
  .recentVideosTitle {
    font-size: var(--font-size);
  }
  .recentVideos {
    padding: 15px 5px;
    flex-direction: column;
    align-items: center;
  }
  .recentVideos > p {
    font-size: var(--font-size-small);
    flex-direction: column;
    text-align: center;
  }
  .recentVideos > button {
    width: 100%;
  }
}
