.channelPage {
  border: 1px solid red;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 80px;
}

.channelPageSidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  min-width: fit-content;
}
.channelPageDetailsHeader {
  width: 100%;
  border-radius: 20px;
  height: 30vh;
  border: 1px solid rgb(231, 231, 231);
}
.channelPageDetailsHeader > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.channelPageSidebarItem {
  font-size: var(--font-size-small);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.channelPageSidebarIcon {
  font-size: var(--font-size-small) !important;
  color: gray;
}
.channelPageDetailContainer {
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 20px;
}

.channelPageDetails {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.channelPageDetailsAvatar > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.channelPageDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.channelPageDetailChannelName {
  font-size: var(--font-size-big);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
}
.channelPageDetailChannelSubscriberDetails {
  display: flex;
  gap: 20px;
}
.channelPageDetailChannelSubscriberDetails > p {
  font-size: var(--font-size-small);
  color: gray;
  font-family: var(--font-family);
}
.channelDescription {
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  color: gray;
}
.channleAuthorLinks {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  gap: 5px;
}
.channelSubscribeButton {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  background-color: var(--background-color) !important ;
  cursor: pointer;
  border-radius: 40px;
}
.channelPageVideoSection {
  position: relative;
}
.channelPageVideoSectionHeader {
  border-bottom: 1px solid rgb(241, 241, 241);
}
.channelPageVideoSectionHeader {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.channelPageVideoSectionHeader > ul {
  display: flex;
  position: relative;
  gap: 20px;
}
.channelPageVideoSectionHeader > ul > li {
  color: gray;
  cursor: pointer;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border-bottom: 2px solid none;
  padding-bottom: 15px;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.activeChannelNavigation {
  color: var(--background-color) !important;
  border-bottom: 2px solid var(--background-color);
}
.channelPageChannelVideos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  overflow: auto;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.channelPageChannelVideo {
  border-radius: 10px;
  cursor: pointer;
}
