.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.featureItem {
  cursor: pointer;
  padding: 20px;
  flex: 1;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.featureItem > div > h1 {
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-family: sans-serif;
  font-weight: 400;
}
.featureItem > div > p {
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing);
  font-family: sans-serif;
  color: rgb(106, 106, 106);
}
