.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appPages {
  display: flex;
  gap: 10px;
}
.appSidebarContainer {
  height: 92vh;
  min-width: 20%;
  position: fixed;
  margin-top: 70px;
}
.appContainer {
  width: 80%;
  margin-top: 70px;
  position: relative;
  float: right;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 20%;
}
@media screen and (max-width: 960px) {
  .appSidebarContainer {
    display: none;
  }
  .appContainer {
    width: 100%;
    margin-left: 0;
    padding: 5px;
  }
}
