* {
  margin: 0;
  padding: 0;
}
body h1,
h2,
h3,
h4,
h5,
h6,
input,
Link,
a,
ul,
li div,
p,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
}
:root {
  --font-size-small: 0.875rem;
  --font-size-normal: 1.125rem;
  --font-size-big: 1.75rem;
  --font-size: 1rem;
  --font-size-medium: 1.3rem;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --txt-overflow: ellipsis;
  --border-color: rgb(154, 154, 154);
  --border-primary-color: #00adef;
  --background-color: #00adef;
  --background-color-light: rgb(240, 240, 240);
  ---txt-primary-color: rgb(26, 46, 59);
  --letter-spacing: 0.01rem;
  --line-height: 1.2rem;
  --font-weight: 500;
  --txt-color-secondary: rgb(0, 173, 239);
}
